
@import '~rfs/sass';

@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

@font-face {
  font-family: 'Icons8';
  src: url('./fonts/Icons8_2f808b8be74d38219fb84a19159be546.eot');
  src: url('./fonts/Icons8_2f808b8be74d38219fb84a19159be546.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Icons8_2f808b8be74d38219fb84a19159be546.woff2') format('woff2'),
       url('./fonts/Icons8_2f808b8be74d38219fb84a19159be546.woff') format('woff'),
       url('./fonts/Icons8_2f808b8be74d38219fb84a19159be546.ttf') format('truetype'),
       url('./fonts/Icons8_2f808b8be74d38219fb84a19159be546.svg#Icons8') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Icons8";
    src: url("./fonts/Icons8_2f808b8be74d38219fb84a19159be546.svg#Icons8") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8, [data-icons8]:before,
.icons8-github:before,
.icons8-instagram:before,
.icons8-linkedin:before {
  display: inline-block;
  font-family: "Icons8";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-github:before { content: "\f100"; }
.icons8-instagram:before { content: "\f101"; }
.icons8-linkedin:before { content: "\f102"; }

body {
  @include font-size(1.1rem);
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
}

h1 {
  @include font-size(3.0rem);
}

.credit {
  @include font-size(0.85rem);

  a {
    font-weight: 700;
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}

.living, .projects, .stack {
  p, li {
    span {
      font-weight: 700;
      font-family: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
  }
}

.title {
  @include font-size(1.2rem);
}
