@import '~rfs/sass';
@import url('https://fonts.googleapis.com/css?family=Bitter:400|Work+Sans:700&display=swap');

$font-stack: 'Bitter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-bold-stack: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$background-color: #FCFCFC;
$black-color: #252835;
$blue-color: #2e27f8;
$light-blue-color: #6f75f1;
$green-color: #25CA6F;
$yellow-color: #F2A74B;
$red-color: #E92628;

:root {
  --black: #252835;
  --white: #ffffff;
  --blue: #2e27f8;
  --light-blue: #878cf3;
  --dark-white: #FEFEFE;
}

html {
    font-size: 1.1rem;
    overflow-x: hidden;
    letter-spacing: 0.12rem;
}

body {
    background: var(--bkgColor);
    color: var(--textColor);
    font-family: $font-stack;
    font-size: 1.1rem;
}

body.light {
  --bkgColor: var(--white);
  --textColor: var(--black);
  --accentColor: var(--blue);
}

body.dark {
  --bkgColor: var(--black);
  --textColor: var(--dark-white);
  --accentColor: var(--light-blue);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-bold-stack;
  font-weight: 700;
}

img:not([src*=".svg"]), video {  
   filter: invert(100%);
}

a {
	color: var(--textColor);
	text-decoration: none;

	&:hover {
		color: var(--accentColor);
		text-decoration: underline;
	}
}

.navbar-brand {
	font-size: 1.1rem;
}

.title {
	margin-top: 1rem;
	margin-bottom: 1rem;
	@include font-size(2.8rem);
}

.text {
	margin-top: 1rem;
	margin-bottom: 1rem;
	@include font-size(1.6rem);
}


.accent-text {
	color: var(--accentColor);
	font-family: $font-bold-stack;
    font-weight: 700;
}

.bold-text {
	color: var(--textColor);
	font-family: $font-bold-stack;
    font-weight: 700;
}
