html,
body {
  padding: 0;
  margin: 0;
  background-color: #FFF8F0;
}

* {
  box-sizing: border-box;
}

a {
  color: #454E9E;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
}

a:hover {
  color: #03254E;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0;
}